body {
font-family: 'Raleway', sans-serif;}



h1 {
text-align:center;
white-space:pre-wrap;
color:#363431;
font-size: 30px;


}


p {

	text-align:center;
	white-space:pre-wrap;
	color:#4a4846;
	font-size: 20px;
  right: 16px;
}

nav {
		background-color: #967ea6;
}


nav ul {


	padding: 10px;
  font-size: 20px;
}

.nav:link {
color:white;
text-decoration: none;

}

.nav:hover {

color: #ebc921;
text-decoration: none;
}

.nav:visited {
	color: white;
	text-decoration: none;
}

.brand-logo {
font-size: 28px;
font-weight: bold;
color:#539da3;
font-family: 'Bitter', serif;
background: rgba(204, 204, 204, 0.3);

}


.home {

	color:#ebc921;
font-weight: bold;
font-size: 19px;
}

.card-title {
	top: 20px;
	right: 20px;
	font-weight: bold;
}

 .card {

    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    }


		.card:hover {
      opacity: 0.5;
      }
